<form>
  <div class="form-group">
    <label for="text">NEW WORD</label>
    <input name="text" action="/words/#{word.id}" method="post" type="text" class="form-control" placeholder="Enter new word here">
  </div>
</form>