<h2 class="text-uppercase"><%= @word.text %></h2>
<table class="table">
  <thead>
    <th>Text</th>
    <th>Letters</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @word.text %></td>
      <td><%= @word.letters %></td>
    </tr>
  </tbody>
</table>
