<div class="">
  <h2 class="text-center">Anagram Generator</h2>
</div>

<hr>

<form action="/" method="post" class="form-horizontal text-center">
  <div class="form-group">
    <label for="word" class="col-sm-2 control-label">Enter A Word</label>
    <div class="col-sm-10">
      <input type="text" name="word" class="form-control" placeholder="Only 3 Letter Words Please">
    </div>
  </div>
  <input type="submit" class="btn btn-block">
</form>