<h3 class="text-center">Anagrams For The Word</h3>
<h2 class="text-center"> <%= "#{@word}" %></h2>
<img src="/img/arrow.png" class="center-block img-responsive">
<ul class="text-center list-unstyled">
  <% if !@anagrams.nil? %>
    <% @anagrams.each do |word| %>
      <li class="text-center h2"><%= word.text.upcase %></li>
    <% end %>
  <% end %>
</ul>